.login {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	max-width: 600px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.field label {
	color: #c4c4c4;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--text-secondary-color);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
}

.links a {
	color: var(--primory-color);
	text-decoration: none;
}
