.button {
	border-radius: var(--border-28);
	border: none;
	cursor: pointer;
	transition: background 0.25s;
	color: var(--white-color);
	font-style: normal;
	font-weight: 400;
}
.button:hover {
	background: var(--primory-hover-color);
}
.accent {
	background: var(--primory-color);
}
.small {
	font-size: 16px;
	padding: 10px 25px;
}

.big {
	font-size: 15px;
	text-transform: capitalize;
	padding: 20px 60px;
}
