.input {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: var(--text-color);
	border-radius: 10px;
	border: 1px solid #efefef;
	padding: 16px 30px 16px 44px;
	background: #fcfcfd;
	min-width: 200px;
}

.input::placeholder {
	color: #9aa0b4;
}

.input-wrapper {
	position: relative;
}
.icon {
	position: absolute;
	left: 17px;
	top: 17px;
}
