.cart__wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 0 auto;
}

.list_item {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.total_wrapper {
	display: flex;
	max-width: 70vw;
	flex-direction: column;
	gap: 14px;
}

.total {
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.hr {
	margin: 0;
	border: 1px solid #f1f2f3;
}

.curr {
	color: #9796a1;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
